/*all*/
body {
    margin: 0;
    padding: 0;
    background: #f5f7f9;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    color: #1a1a1a;
    font-size: 14px;
    width: 100%;
    min-height: 100%;
    position: absolute;
    -webkit-tap-highlight-color: rgba(26,26,26,0);
}

.clear {
    clear: both;
}

.admin-menu {
    float: left;
    background: #20222A;
    color: rgba(255,255,255,.7);
    padding: 20px;
    width: 15%;
    box-sizing: border-box;
    min-height: 100%;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    bottom: 0;
}

.admin-logo {
    padding: 20px;
    text-align: center;
    color: rgba(223, 132, 108, 0.73);
    font-size: 22px;
    border-bottom: 1px solid #666;
}

.menu-scroll {
    padding: 20px;
}

.admin-menu ul,.admin-menu dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-menu li {
    border-bottom: 1px solid #666;
    padding: 10px 0;
}

/*.admin-menu dl {
    display: none;
}*/

.admin-menu dd {
    margin: 5px 15px;
}

.admin-menu a {
    text-decoration: none;
    color: inherit;
}

.admin-menu a:hover {
    color: #fff;
}

.admin-logo a:hover,.admin-logo a.active {
    color: #df846c;
}

.admin-main {
    float: right;
    width: 85%;
    padding: 10px 20px;
    box-sizing: border-box;
    min-height: 100%;
}

.body-tabs, .admin-body {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    margin-bottom: 10px;
}

.body-tabs {
    padding: 5px 10px;
    color: #999;
}

.body-tabs a {
    text-decoration: none;
    color: rgba(223, 132, 108, 0.73);
}

.body-tabs a:hover {
    color: #df846c;
}

.admin-body {
    padding: 20px;
}

/*admin login*/
.admin-login {
    text-align: center;
    margin-top: 100px;
    padding: 40px;
}

.login-input {
    padding: 10px;
    /*border: 1px solid #ccc;*/
    border-radius: 3px;
    margin: 20px auto;
    width: 300px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.login-input p {
    margin: 30px 0;
}

input.login,.profile-ipt input,.links-ipt input {
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 5px;
}

input.but {
    border: 1px solid #ccc;
    border-radius: 3px; 
    color: #555;
    padding: 5px 40px;
    cursor: pointer;
}

input.but:hover,.admin-menu button:hover,.write-body .write-btn:hover {
    background: rgba(0, 124, 197, 0.78);
    color: #fff;
}

/*admin write*/
.admin-title {
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.admin-title a {
    float: left;
    font-size: 14px;
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid #555;
}

.admin-title a:hover {
    color: #111;
}

.admin-write {
    padding: 20px 0;
}

.aticle-data {
    float: left;
    width: 25%;
    background: #fff;
    padding: 10px 0;
}

.data-ipt p {
    padding: 10px;
}

.data-ipt input {
    height: 25px;
    border: none;
    border-bottom: 1px solid #999;
    /* color: #d12e2e; */
    outline: none;
    padding-left: 5px;
}

.aticle-body {
    float: right;
    width: 73%;
    background: #fff;
}

.write-body {
    padding: 20px;
}

.write-body input.aticle-title {
    width: 98%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #999;
    /* padding: 0 10px; */
    padding-left: 10px;
    outline: none;
    font-size: 16px;
}

/*.write-body textarea {*/
    /*width: 640px;*/
    /*margin-top: 20px;*/
    /*padding: 10px;*/
    /*border: 1px solid #999;*/
    /*border-radius: 2px;*/
    /*font-size: 16px;*/
    /*color: #444;*/
    /*height: 500px;*/
    /*outline: none;*/
/*}*/

.write-body .write-btn {
    margin-left: 50px;
    float: right;
    padding: 2px 10px;
    border-radius: 2px;
    border: 1px solid #999;
    color: #444;
    cursor: pointer;
}

.write-body .first-btn {
    float: left;
    margin: 0;
}


/*admin profile and admin add links*/
.change-nav span {
    cursor: pointer;
    margin: 0 10px;
}

.change-nav span:hover {
    color: #df846c;
}

.change-nav span.current {
    color: #df846c;
    border-bottom: 2px solid #df846c;
}

.admin-profile,.admin-links {
    text-align: center;
    /*margin: 100px 0;*/
    /*border: 1px solid #ccc;*/
    background: #fff;
    padding: 30px;
}

.admin-links .friend {
    display: none;
}

.profile-ipt,.links-ipt {
    padding: 20px;
}

.profile-ipt .but,.links-ipt .but {
    height: 30px;
}


/*admin posts*/
.admin-post {
    padding: 15px 15px 30px;
}

.admin-post li {
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px inset;
}

.admin-post li a.article-title {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    margin: 0 15px;
}

.admin-post li a.article-title:hover {
    color: #333;
}

button.delete-btn {
    border: 1px solid #c71515;
    border-radius: 3px;
    background: #fff;
    color: #c71515;
    cursor: pointer;
    float: right;
    margin: 0 20px;
}

button.delete-btn:hover {
    background: #c71515;
    color: #fff;
}

button.edit-btn {
    border: 1px solid #138ec9;
    border-radius: 3px;
    background: #fff;
    color: #138ec9;
    cursor: pointer;
    float: right;
    margin: 0 20px;
}

button.edit-btn:hover {
    background: #138ec9;
    color: #fff;
}

/*flash message*/
.flash-msg {
    padding: 12px;
    background: rgba(42, 141, 199, 0.72);
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.flash-msg span {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.flash-msg span:hover {
    font-weight: 600;
}

/*允许评论*/
button.allow-btn {
    border: 1px solid #f4d918;
    border-radius: 3px;
    background: #fff;
    color: #f4d918;
    cursor: pointer;
    float: right;
    margin: 0 20px;
}

button.allow-btn:hover {
    background: #f4d918;
    color: #fff;
}

.comment-author,.comment-post {
    text-decoration: none;
    color: #bd1515;
    margin: 0 5px;
}

.comment-author:hover,.comment-post:hover {
    color: #cf5050;
}

/*write shuoshuo*/
.write-shuo textarea {
    border: 2px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
}

.write-shuo input {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #0cc567;
    color: #fff;
    cursor: pointer;
}

.write-shuo input:hover {
    background: #129a55;
}

/*upload file*/
.upload-file {
    padding: 20px;
}

/*qiniu picbed styles*/
.pic-bed {
    padding: 20px;
}

.upload-img {
    padding: 0 10px 10px;
    font-size: 16px;
    color: #da851d;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.upload-img button {
    float: right;
    background: #ddd;
    border: 1px solid #ccc;
    width: 50px;
    padding: 2px 0;
    cursor: pointer;
    color: #de7204;
}

.img-item {
    width: 238px;
    height: 380px;
    margin: 0 23px 10px;
    float: left;
    display: inline-block;
    position: relative;
    border: 1px solid #eee;
    padding: 10px;
}

.img-name {
    text-align: center;
    margin-bottom: 10px;
}

.img-item a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.img-item img {
    max-width: 238px;
    max-height: 180px;
}



.img-desc span {
    width: 192px;
    display: inherit;
    float: right;
    word-wrap: break-word;
    word-break: normal;
    font-size: 13px;
    color: #888;
}

.img-desc span.img-link {
    color: #da7d0a;
}

.img-btn {
    width: 240px;
    bottom: 10px;
    position: absolute;
}

.img-btn button {
    background: #eee;
    border: 1px solid #ddd;
    color: #df846c;
    border-radius: 3px;
    width: 70px;
    height: 20px;
    cursor: pointer;
}

.img-btn button.del-btn {
    float: right;
}

.img-btn button:hover {
    color: #fc6423;
}

.upload-input {
    display: none;
    width: 300px;
    padding: 20px;
    margin: 0 auto 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.upload-input input#name-ipt {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    outline: none;
    font-size: 14px;
}

.upload-input input#name-ipt:focus {
    border-bottom: 1px solid #ec920c;
}


