{% extends "admin.html" %}
{% block content %}
{% if current_user.is_authenticated %}

<div class="admin-title site-box">管理专题文章<span><a href="{{url_for('admin.index')}}">返回</a></span></div>

<div class="admin-post site-box">
    <p>
        <a href="{{ url_for('admin.write_column_article',url=column.url_name) }}">
            <button>添加文章</button>
        </a>
    </p>
    <ul>
        {% for article in articles %}
        <li>
            {{ article.timestamp }}
            <a class="article-title" href="{{url_for('admin.edit_column_article',url=column.url_name,id=article.id)}}">
                {{ article.title }}
            </a>

            <button class="delete-btn" onclick="firm('{{url_for('admin.delete_column_article',url=column.url_name,id=article.id)}}')">
                删除
            </button>

            <a href="{{url_for('admin.edit_column_article',url=column.url_name,id=article.id)}}">
                <button class="edit-btn">编辑</button>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}

{% block script %}
{{ super() }}
    <script>
        function firm(url) {
            var request;
            if (window.XMLHttpRequest) {
                request = new XMLHttpRequest();
            } else {
                request = new ActiveXObject('Microsoft.XMLHTTP');
            }
            //利用对话框返回的值 （true 或者 false）
            if (confirm("你确定删除吗？")) {
                // 发送请求:
                request.open('GET', url);
                request.send();
                location.reload();
            }
            else { }

        }
    </script>
{% endblock %}
