{% extends "admin.html" %}

{% block content %}

<div class="admin-write">
    <div class="admin-title site-box">{{ title }}<span><a href="{{url_for('admin.index')}}">返回，注意保存</a></span></div>

    <form action="{%if title== '编辑专题'%}{{url_for('admin.write_column')}}{%else%}{{url_for('admin.edit_column',id=column.id)}}{%endif%}" method="post">
        {{form.hidden_tag()}}
        <div class="aticle-data site-box">
            <div class="data-ipt">
                <p>链接：{{form.url_name(placeholder="url专题名")}}</p>
                <p>日期：{{form.date(placeholder="使用-连接年月日")}}</p>
            </div>
        </div>
        <div class="aticle-body site-box">
            <div class="write-body">
                <p>{{form.column(class="aticle-title",placeholder="专题名")}}</p>
                <div>
                    {{form.body(id="editormd",style="display:block;",rows="5",cols="80")}}<br>
                </div>
                {% if title == '编辑专题' %}
                <p>{{ form.submit(class="write-btn",value="发布") }}</p>
                {% else %}
                <p>{{ form.submit(class="write-btn",value="更新") }}</p>
                {% endif %}
            </div>
        </div>
    </form>

</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css">
    <script src="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js"></script>
    <script>
         new SimpleMDE({
         element: document.getElementById("editormd"),
         spellChecker: false,
         autosave: {
            enabled: false
         }
      });
    </script>
{% endblock %}
