{% extends "admin.html" %}

{% block content %}

<div class="admin-write">
    <div class="admin-title site-box">{{ title }}<span><a href="{{url_for('admin.index')}}">返回，注意保存</a></span></div>

    <form action="{%if title== '编辑文章'%}{{url_for('admin.write_column_article',url=column.url_name)}}{%else%}{{url_for('admin.edit_column_article',url=column.url_name,id=article.id)}}{%endif%}" method="post">
        {{form.hidden_tag()}}
        <div class="aticle-data site-box">
            <div class="data-ipt">
                <p>日期：{{form.date(placeholder="使用-连接年月日")}}</p>
                <p>保密：{{form.secrecy()}}</p>
            </div>
        </div>
        <div class="aticle-body site-box">
            <div class="write-body">
                <p>{{form.title(class="aticle-title",placeholder="标题")}}</p>
                <div id="editormd">
                    {{form.body(style="display:block;",rows="5",cols="80")}}<br>
                </div>
                {% if title == '编辑文章' %}
                <p>{{ form.submit(class="write-btn",value="发布") }}</p>
                {% else %}
                <p>{{ form.submit(class="write-btn",value="更新") }}</p>
                {% endif %}
            </div>
        </div>
    </form>

</div>
{% endblock %}

