{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.preview.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.min.css') }}"/>
<style>
    .editormd-html-preview, .editormd-preview-container {padding: 0;}
    .editormd-html-preview, .editormd-preview-container {padding: 0;}
    .post-body {padding: 0;}
    .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {position: static;}

</style>
{% endblock %}
{% block content %}
<div class="post-item site-box">
    <h1 class="post-title">{{page.page}}</h1>

    <div id="content" class="content post-body">
        {{ page.body_to_html | safe }}
    </div>
</div>
{% if page.canComment == true %}
{% include "_comment.html" %}
{% endif %}
{% endblock %}

{% block script %}
{{ super() }}
{% if page.canComment == true %}
<script src="{{url_for('static', filename='js/comment.js')}}"></script>
{% endif %}
<!--<script src="{{url_for('static', filename='lib/highlight.min.js')}}"></script>-->
<script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='editormd/lib/marked.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/prettify.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/raphael.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    editormd.markdownToHTML("content");
</script>
{% endblock %}