{% extends "base.html" %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/default.css') }}"/>
    <meta name="keywords" content="{{ post.tags }}">
    <meta name="description" content="{{ post.title }}">
<style>
    .post-title {
        text-align: center;
        font-size: 24px;
    }
    .post-meta { text-align: center; }
    .post-body {padding: 0;}
    .side-nav,.post-toc {display: block;}
    .blog-tags,.profile {display: none;}
</style>
{% endblock %}

{% block my_plugin %}
{% endblock %}
{% block ads_plugin %}
{% endblock %}

{% block content %}
    <div class="post-item site-box">
        <h1 class="post-title">
            {{ post.title }}
        </h1>
        <div class="post-meta">
            <span class="post-time"><i class="demo-icon icon-calendar"></i> 发表于{{ post.timestamp }}</span>
            <span class="post-category">
                <i class="demo-icon icon-folder-empty"></i> 分类：
                <a href="{{ url_for('main.category', category_name=post.category.category) }}">{{ post.category.category }}</a>
            </span>
            <span class="post-comments-count">
                <i class="demo-icon icon-comment-empty"></i> 评论： {{ counts }}
            </span>
            <span class="post-view-count"><i class="demo-icon icon-eye"></i> 阅读：{{ post.view_num }}</span>
        </div>
        <div id="content" class="post-body">
            {% if post.body %}
            {{ post.body_to_html | safe }}
            {% endif %}
        </div>
        <div class="post-tags">
            {% for tag in tags %}
            <a href="{{ url_for('main.tag', tag_name=tag) }}"><i class="demo-icon icon-tags"></i> {{ tag }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="donate site-box">
        <p class="donate-title">可以请我喝杯咖啡吗QAQ~</p>
        <p><button class="donate-btn">赞赏</button></p>
        <div class="donate-img" style="display: none;">
            <div class="donate-alip">
                <a data-fancybox="image" href="{{url_for('static', filename='images/alipay.jpg')}}">
                    <img class="donate-first-img" src="{{url_for('static', filename='images/alipay.jpg')}}" alt="">
                </a>

                <p>支付宝</p>
            </div>
            <div class="donate-wchat">
                <a data-fancybox="image" href="{{url_for('static', filename='images/wechatpay.jpg')}}">
                    <img class="donate-second-img" src="{{url_for('static', filename='images/wechatpay.jpg')}}" alt="">
                </a>

                <p>微信</p>
            </div>
        </div>
    </div>

    <div class="post-copyright site-box">
        <blockquote>
            <p><strong>本文作者：</strong>俞坤</p>
            <p><strong>本文链接：</strong><a href="{{url_for('main.post',year=post.year,month=post.month,article_name=post.url_name)}}">http://www.yukunweb.com/{{post.year}}/{{post.month}}/{{post.url_name}}</a></p>
            <p><strong>版权声明：</strong>本博客所有文章除特别声明外，均采用<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>许可协议。转载请注明出处！</p>
        </blockquote>
    </div>

    <div class="pre-next-post site-box">
        {% if prev_post %}
        <a class="pre-post" href="{{url_for('main.post',year=prev_post.year,month=prev_post.month,article_name=prev_post.url_name)}}">
             {{ prev_post.title }}
        </a>
        {% endif %}
        {% if next_post %}
        <a class="next-post" href="{{url_for('main.post',year=next_post.year,month=next_post.month,article_name=next_post.url_name)}}">
            {{ next_post.title }}
        </a>
        {% endif %}
        <div class="clear"></div>
    </div>

    {% include "_comment.html" %}

{% endblock %}

{% block script %}
{{ super() }}
<script src="{{url_for('static', filename='js/comment.js')}}"></script>
<script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/myToc.js')}}"></script>
<script type="text/javascript">
    var sticky = new Sticky(".side-content", {
                // 表示距离顶部 20px 的时候就固定
                offset: 20
            });
    // donate button
    var donateBtn = document.getElementsByClassName('donate-btn')[0];
    var donateImg = document.getElementsByClassName('donate-img')[0];
    donateBtn.onclick = function() {
        if (donateImg.style.display === 'none') {
            donateImg.style.display = 'block';
        } else {
            donateImg.style.display = 'none';
        }
    };
    // toc
    $("#toc").toc({content: "div#content", headings: "h2,h3,h4"});
</script>
{% endblock %}
