{% extends "base.html" %}

{% block content %}
<div class="shuo-content site-box">
    {% for y in years %}
    <article>
        <h3>{{y}}</h3>
        {% for i in data[y] %}
        <section>
            <span class="point-time point-orange"></span>
            <span class="date-time">{{i.month_and_day}}</span>
            <aside>
                <p class="things">{{i.body_to_html|safe}}</p>
                <p class="brief">
                <span class="mobile-date-time">{{i.month_and_day}}</span>
                </p>
            </aside>
        </section>
        {% endfor %}
    </article>
    {% endfor %}
</div>
{% endblock %}
