{% macro pages(pagination, cur_page, max_page, endpoint, fragment='') %}
<ul class="pagination">
    <li {% if cur_page==1 %}style="display:none;"{% endif %}>
        <a href="{% if cur_page != 1 %}{{ url_for(endpoint, page=cur_page-1, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination %}
        {% if p %}
            {% if p == cur_page %}
            <li>
                <a  class="active" href="#">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li {% if cur_page == max_page %}style="display:none;"{% endif %}>
        <a href="{% if cur_page != max_page %}{{ url_for(endpoint, page=cur_page+1, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}