{% extends "base.html" %}
{% import "_pagination.html" as page %}
{% block content %}
<div class="category site-box">标签：<strong>{{ tag }}</strong></div>

<div class="category-post site-box">
    <ul>
        {% for post in posts %}
        <li>
            {{ post.timestamp }}
            <a href="{{url_for('main.post',year=post.year,month=post.month,article_name=post.url_name)}}">
                {{ post.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}