{% extends "column_base.html" %}

{% block column_content %}
<div class="article-main site-box">
    <div class="column-list">
        {% for column in columns %}
        <div class="column-box">
            <a class="column" href="{{ url_for('column._column',id=column.id) }}">{{ column.column }}</a>
            <div class="article-meta" style="padding: 0;">
                <span class="post-time"><i class="demo-icon icon-calendar"></i>{{ column.timestamp }}</span>
                <span><i class="demo-icon icon-heart-empty">喜欢：{{ column.love_num }}</i></span>
            </div>
            <div class="column-profile">
            {{ column.body_to_html | striptags | truncate(200) }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

