/*all*/
body {
    margin: 0;
    padding: 0;
    background: #f5f7f9;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    color: #555;
    font-size: 14px;
  /*  background: url(../background.jpg);*/
}

p {
    letter-spacing: 1px;
}

blockquote {
    margin: 10px;
    padding: 10px 15px;
    border-left: 4px solid #ccc;
    /* background: #eee; */
    color: #222;
}

blockquote p {
    margin: 0;
}

pre {
    white-space: inherit;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

code {
    padding: 2px 5px;
    word-wrap: break-word;
    color: #555;
    background: #eee;
    border-radius: 3px;
    font-size: 13px;
}

.clear {
    clear: both;
}

.site-wrap {
    width: 960px;
    margin: 0 auto;
}

.site-box {
    padding-bottom: 20px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

/*header*/
.container {
    width: 100%;
    height: 100%;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    color: #8590a6;
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
    z-index: 999;
}

.site-logo {
    padding: 10px 0;
    display: inherit;
    width: 240px;
    float: left;
}

.site-logo .logo {
    text-decoration: none;
    color: #111;
    font-size: 24px;
}

.site-nav {
    float: right;
    width: 700px;
    padding: 15px 0;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li.menu-item {
    float: right;
    margin-left: 15px;
    width: 40px;
    text-align: center;
}

li.menu-item a {
    text-decoration: none;
    color: #8590a6;
    font-size: 16px;
}

li.menu-item a:hover,.search-btn:hover {
    color: #333;
    font-weight: 600;
}

ul#drop {
    display: none;
    list-style: none;
    margin-top: 5px;
    margin-left: -20px;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0;
    width: 80px;
    background: rgba(255, 255, 255, 0.78);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

ul#drop a {
    font-size: 14px;
    padding: 5px 10px;
    width: 60px;
    display: block;
    border-bottom: 1px solid #eee;
}

a.drop-item-last {
    border-bottom: none;
}

ul#drop a:hover {
    background: rgba(102, 102, 102, 0.7);
    color: #fff;
    font-weight: 400;
}

/*search*/
.search-nav {
    position: relative;
}

.search-btn {
    font-size: 16px;
    cursor: pointer;
}

.search {
    top: 35px;
    position: absolute;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}

.search form {
    width: 250px;
    height: 32px;
}

.search i {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.search-ipt {
    width: 200px;
    height: 32px;
    padding: 0 20px 0 0;
    border: none;
    outline: none;
    font-size: 14px;
    color: #555;
    float: right;
}


/*sidebar*/
.side-title {
    border-bottom: 1px solid #eee;
    padding: 8px 10px;
    color: #333;
    font-size: 14px;
}

.sidebar {
    margin-top: 70px;
    width: 240px;
    float: left;
    
}

.profile {
    text-align: center;
}

.author-background {
    background: #222;
    height: 80px;
    display: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.author-image {
    display: inherit;
    margin-top: -50px;
}

.author-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.44);
}

.social-links ul,.friend-links ul,.blog-tags ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.social-links ul li {
    float: left;
    width: 90px;
    padding: 5px 10px;
}

.social-links a,.blog-tags a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.social-links a:hover {
    color: #000;
}

.friend-links li {
    margin: 5px 0;
    padding: 0 10px;
}

.friend-links a {
    text-decoration: none;
    color: #444;
    padding: 3px;
    border-bottom: 1px solid #333;
}

.friend-links a:hover {
    color: #000;
}

.blog-tags li {
    max-width: 90px;
    border: 1px solid #ccc;
    /* text-align: center; */
    padding: 2px 0;
    border-radius: 3px;
    float: left;
    margin: 5px;
    padding: 2px 3px;
}

.blog-tags li:hover {
    background: rgba(102, 102, 102, 0.7);
}

.blog-tags a:hover {
    color: #fff;
}

/*side love me*/
.love-me-icon {
    text-align: center;
    margin: 10px 10px 0;
    font-size: 50px;
    /*color: #ff0000d9;*/
    /*color: #c70404;*/
    color: #ff0000d9;
}

.love-me-icon {
    cursor: pointer;
}

.love-me-icon:hover {
    color: #fff;
    background: #ff0000d9;
}

.love-me-icon span.love-me-count {
    font-size: 33px;
    margin-left: -18px;
}


/*main*/
.main {
    width: 700px;
    margin-top: 70px;
    float: right;
}

.main img {
    margin: 0 auto;
    display: block;
}

.post-item {
    padding: 20px 25px;
}

.post-title {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
}

.post-title a {
    text-decoration: none;
    color: #555;
    line-height: 1.2;
}

.post-title a:hover {
    color: #000;
    border-bottom: 2px solid #333;
}

.post-meta {
    text-align: center;
    font-size: 12px;
    color: #999;
    margin: 5px 0 30px 0;
}

.post-meta span {
    border-left: 1px solid #999;
    padding: 0 5px;
}

span.post-category a,span.post-comments-count a {
    text-decoration: none;
    color: #555;
}

span.post-category a:hover,span.post-comments-count a:hover {
    color: #000;
}

span.post-time {
    border-left: none;
}

.post-body {
   line-height: 2;
   padding: 5px 10px;
   text-align: justify;
}

.post-body h2 {
    font-size: 20px;

}

.read-more-btn {
    margin-top: 30px;
    text-align: center;
}


/*footer*/
.footer {
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer a {
    text-decoration: none;
    color: #444;
    border-bottom: 1px solid #555;
}

.footer a:hover {
    color: #000;
}

.copyright {
    margin-bottom: 10px;
}

.powered-by {
    margin-right: 10px;

}
.powered-by::after {
    content: "|";
    padding-left: 10px;
}



/*go-to-top*/
#go-to-top {
    position: fixed;
    right: 80px;
    bottom: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 30px solid #ccc;
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent; 
}


/*post pages*/
.post-page {
    padding: 20px;
}

ul.pages {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul.pages li {
    display: inline-block;
}

ul.pages a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

ul.pages a.active,ul.pages a.active:hover {
    background: #ccc;
    color: #fff;
}

ul.pages a:hover {
    background: #ccc;
    color: #fff;
}

/*post detail*/
.post-body a,.post-tags a {
    text-decoration: none;
    color: #222;
    border-bottom: 1px solid #333;
}

.post-body a:hover,.post-tags a:hover {
    color: #666;
}

.read-more-btn a {
    text-decoration: none;
    color: #666;
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid #333;
    border-radius: 3px;
}

.read-more-btn a:hover {
    background: #333;
    color: #fff;
}

.post-tags {
    margin: 20px 0;
    padding: 15px 5px;
    border-top: 1px solid #ccc;
}

.post-tags a {
    float: left;
    margin-right: 15px;
}

.donate {
    padding: 10px 30px;
    text-align: center;
}

.donate-title {
    color: #666;
    font-size: 14px;
}

.donate button {
    border: 1px solid #ccc;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: rgba(236, 63, 11, 0.88);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.donate button:hover {
    background: #fff;
    color: rgba(236, 63, 11, 0.88);
}

.donate-img {
    display: none;
}

.donate-alip,.donate-wchat {
    display: inline-block;
}

.donate img {
    border-radius: 3px;
    width: 120px;
    height: 120px;
    margin: 0 10px;
}

.post-copyright {
    border-left: 4px solid #f06909;
    overflow: hidden;
    padding-bottom: 0;
}

.post-copyright blockquote {
    border: none;
}

.post-copyright a {
    color: #666;
}

.post-copyright a:hover {
    color: rgba(236, 63, 11, 0.88);
}

.pre-next-post {
    padding: 20px;
}

.pre-post,.next-post {
    float: left;
    text-decoration: none;
    color: #222;
    font-size: 16px;
    font-weight: 600;
}

.next-post {
    float: right;
}

.pre-post:hover,.next-post:hover {
    color: #666;
    border-bottom: 1px solid #555;
}


/*category page*/
.category {
    padding: 20px;
    font-size: 16px;
    text-align: center;
}

.category-post {
    padding: 30px;
    font-size: 12px;
    text-align: left;
}

.category-post ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

.category-post ul li {
    padding: 5px 0;
}
.category-post a {
    text-decoration: none;
    color: #333;
    margin: 5px 20px;
    display: inline-block;
    font-size: 15px;
}

.category-post a:hover {
    border-bottom: 1px solid #333;
}

/*archives page*/
.archives-title {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
}

.archives {
    padding: 30px;
}

.archives-year {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 3px 0;
    border-bottom: 3px solid #444;
}

.archives-posts {
    padding: 20px;
}

.archives-posts li {
    padding: 10px 5px;
    font-size: 12px;
/*    border-bottom: 1px dashed #666;*/
}

.archives-posts li a {
    font-size: 15px;
    text-decoration: none;
    color: #555;
    margin-left: 20px;
}

.archives-posts li a:hover {
    color: #111;
    border-bottom: 1px solid #333;
}

/*result page*/
.result-list {
    padding: 20px 25px 20px 5px;
}

.result-list li {
    margin-bottom: 10px;
    border-bottom: 1px dashed #999;
}

.result-list li:hover {
    border-bottom: 1px dashed #555;
}

.result-list li a {
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid;
}

.result-list li a:hover {
    color: #222;

}

/*comment css*/
#comments {
    padding: 20px;
}

.comment-title {
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.comment-title span {
    padding: 8px;
    border-bottom: 2px solid #f06909;
}

.comment-send {
    margin: 20px 0;
}

.author {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.author img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.textarea-container {
    padding: 0 20px;
    position: relative;
}

.textarea-container div.input-div {
    margin-bottom: 12px;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.textarea-container .author-info {
    margin: 0;
}

.textarea-container label {
    position: absolute;
    left: 8px;
    top: 4px;
    color: #df846c;
}

.textarea-container input {
    width: 180px;
    height: 14px;
    float: left;
    margin: 0;
    padding: 7px 0 7px 54px;
    border: 1px dashed #df846c;
    border-radius: 3px;
    outline: 0;
    overflow: hidden;
    background: transparent;
    line-height: 16px;
    color: rgba(0,0,0,0.3);
}

.textarea-container textarea {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    resize: none;
    outline: none;
    border: 1px dashed #df846c;
    padding: 10px;
    font-size: 12px;
}


.textarea-container textarea:hover,.textarea-container textarea:focus,
.textarea-container input:hover,.textarea-container input:focus {
    border: 1px dashed #f06909;
}

.textarea-container span.cancel {
    display: none;
    border: 1px solid #df846c;
    color: #df846c;
    padding: 1px 5px;
    cursor: pointer;
    border-radius: 3px;
    float: left;
}

.textarea-container span.cancel:hover {
    color: #f06909;
    border: 1px solid #f06909;
}

.textarea-container button.comment-submit {
    border: 1px solid #df846c;
    background: #df846c;
    color: #fff;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 3px;
    float: right;
}

.textarea-container button.comment-submit:hover {
    background: #f06909;
}


ol.comment-list {
    list-style: none;
    padding: 0 10px;
}

.comment-list {
    margin: 40px 0;
}

.comment-list li {
    margin: 10px 0;
}

.comment-body {
    padding: 10px 0;
    display: block;
    position: relative;
}

.comment-list .comment-author {
    float: left;
}

.comment-list .comment-author img.avatar {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid #ededed;
}

.comment-list .comment-time {
    margin: 0 0 0 12px;
    float: right;
    color: rgba(0,0,0,0.4);
}

.comment-content {
    margin-left: 55px;
    margin-right: 60px;
    position: relative;
    padding-top: 24px;
}

.comment-list .comment-name {
    position: absolute;
    left: 0;
    top: 0;
}

.comment-list .comment-name a {
    color: #df846c;
    text-decoration: none;
}

.comment-list .comment-name a:hover {
    color: #f06909;
}

.comment-list .reply-comment {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
}

.comment-list .reply-comment a {
    color: #999;
    text-decoration: none;
}

.comment-list .reply-comment a:hover {
    color: #df846c;
}

.comment-list .comment-text {
    padding-top: 5px;
    margin-top: 3px;
    border-top: 1px solid #ededed;
}

.comment-list .comment-text p {
    margin: 0;
}

/*reply comment css*/
ul.comment-children {
    list-style: none;
    padding: 0;
    margin-left: 40px;
    padding-left: 10px;
}

.comment-children li {
    margin: 0;
    padding-left: 20px;
    border-left: 1px solid #ededed;
}

.comment-children .comment-body {
    padding: 6px 0;
}

.comment-children .comment-author img.avatar {
    width: 26px;
    height: 26px;
    border-radius: 14px;
}

.comment-children .comment-name,
.comment-children .comment-time,
.comment-children .reply-comment {
    display: none;
}

.comment-children .comment-name {
    margin-left: -107px;
    float: left;
    color: #fff;
    padding: 3px 6px;
    background: #df846c;
    border-radius: 3px;
    margin-top: 0;
}

.comment-children .comment-content {
    margin-left: 46px;
    margin-right: 46px;
    padding: 0;
}

.comment-children .comment-text {
    line-height: 28px;
    border: 0;
    padding: 0;
}

.comment-children .comment-time {
    margin-top: 0;
}

.comment-children .reply-comment {
    margin-top: 0;
}


.comments-navi {
    padding: 10px;
    border-top: 1px solid #eee;
    text-align: right;
}

.comments-navi a {
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
    color: #888;
    padding: 5px 3px;
}

.comments-navi a.current-page {
    border-bottom: 2px solid #df846c;
}

.comments-navi a:hover {
    color: #df846c;
    border-bottom: 2px solid #df846c;
}

/*cnzz*/
.footer span.cnzz-span {
    display: none;
}


/*mobile disply*/
.mobile-site-logo,.mobile-site-nav,.mobile-menu-btn,.mobile-site-nav ul {
    display: none;
}
