/*column styles*/
.site-box {
    border-radius: 0;
}

.column-menu-btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

}

.column-menu-btn button {
    margin-top: 2px;
    padding: 9px 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-bar {
    background: #999;
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    border-radius: 1px;
}

.column-menu-btn button:hover > .btn-bar {
    background: #666;
}

.column-main,.article-main {
    margin: 70px auto;
    width: 800px;
}

.column-item,.column-articles {
    padding: 20px;
}

.column-title,.article-title {
    padding: 20px 20px 0;
}

.column-title h1,
.article-title h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.article-title h1 {
    text-align: left;
    display: inline-block;
}

.column-meta,.article-meta {
    font-size: 12px;
    color: #999;
    padding: 0 20px;
    margin: 10px 0;
}

.column-meta {
    text-align: center;
}

.column-body,.article-body {
    padding: 20px;
    line-height: 1.8;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}

.column-btn {
    padding: 30px 0;
    text-align: center;
}

.love-column,.read-column {
    margin: 0 20px;
    padding: 8px 30px;
    font-size: 16px;
    background: #e6876c;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
}

.love-column:hover,.read-column:hover {
    background: #e6542b;
}

.column-menu {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

.column-menu:after {
    display: block;
    content: " ";
    margin-top: 10px;
    width: 50px;
    border-bottom: 2px solid rgb(230, 135, 108);
}

.column-articles {
    margin-bottom: 30px;
}

.article-item {
    padding: 5px;
    margin: 20px 40px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

.article-num {
    color: #999;
    margin-right: 15px;
}

.article-item a {
    color: #111;
}

.article-item a:hover {
    color: #888;
}


/* article styles */

.article-item {
    padding: 20px;
}


.article-desc {
    font-size: 14px;
}

.article-desc img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 0 10px #ccc;
}

.menu-list {
    padding: 20px 10px;
    max-width: 220px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    height: 100%;
    float: left;
    width: 260px;
    background: #fff;
    border-right: 2px solid #ccc;
    margin-top: 0;
    z-index: 9999;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

.menu-title {
    padding: 15px 0 0;
    font-size: 16px;
}

.menu-list ul {
    margin: 0;
    padding: 5px;
    list-style: none;
}

.menu-list ul li {
    font-size: 14px;
    padding: 5px 0;
    color: #999;
    border-bottom: 1px solid #eee;
}

.menu-list a {
    color: #666;
}

.menu-title a {
    color: #111;
}

.menu-list a:hover,.menu-list a.current {
    color: #111;
    font-weight: 600;
}

.article-btn {
    border-bottom: 1px solid #eee;
}

.prev-btn,.next-btn {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 20px 0;
    color: #999;
    font-size: 16px;
    font-weight: 600;
}

.prev-btn {
    float: left;
}
.next-btn {
    float: right;
}

.prev-btn:hover,.next-btn:hover {
    color: #df846c;
}


/*index*/
.column-list {
    padding: 20px;
}

.column-box {
    padding: 10px;
}

.column {
    font-size: 18px;
    font-weight: 600;
    color: #111;
}

.column:hover {
    color: #888;
}

.column-profile {
    padding: 10px 0;
    line-height: 1.7;
    border-bottom: 1px solid #eee;
}

@media (max-width: 992px) {
    .site-wrap {
        width: 960px;
    }
}
@media (max-width: 768px) {
    .site-wrap,.footer {
        width: 100%;
    }
    .column-main,.article-main {
        width: 98%;
    }
    .column-title,.article-title {
        padding: 20px 0 0;
    }
    .column-body,.article-body {
        padding: 0;
    }
    /*mobile comment*/
    #comments {
        font-size: 10px;
        color: #999;
        padding: 10px;
        padding-bottom: 20px;
    }

    .textarea-container {
        padding: 0;
    }

    .textarea-container div.input-div {
        width: 100%;
    }

    .textarea-container input {
        float: none;
    }

    ol.comment-list,ul.comment-children {
        padding: 0;
    }

    .comment-content {
        margin-left: 45px;
    }

    .comment-children .comment-content {
        margin-left: 35px;
    }
}
