{% extends "admin_base.html" %}
{% block tab %}更改密码{% endblock %}
{% block content %}
<div class="admin-profile">
    <h2>更改登录密码</h2>
    <div class="profile-ipt">
        <form action="{{url_for('admin.change_password')}}" method="post">
            {{form.hidden_tag()}}
            <p>旧密码：{{form.old_password()}}</p>
            <p>新密码：{{form.password()}}</p>
            <p>确认密码：{{form.password2()}}</p>
            <p><input class="but" type="submit" value="确定"></p>
        </form>
    </div>
</div>
{% endblock %}