{% extends "admin_base.html" %}
{% block tab %}添加页面{% endblock %}
{% block content %}
<div class="admin-write">
    <form action="{%if title=='添加页面'%}{{url_for('admin.add_page')}}{%else%}{{url_for('admin.edit_page',name=page.url_name)}}{%endif%}" method="post">
        {{form.hidden_tag()}}
        <div class="aticle-data">
            <div class="data-ipt">
                <p>允许评论：{{form.can_comment()}}</p>
                <p>导航显示：{{form.is_nav()}}</p>
                <p>链接：{{form.url_name(placeholder="url")}}</p>
                <p>使用<a href="{{ url_for('image.index') }}" target="_blank">【本地图床】</a></p>
            </div>
        </div>
        <div class="aticle-body">
            <div class="write-body">
                <p>{{form.title(class="aticle-title",placeholder="标题")}}</p>
                <div>
                    {{form.body(id="editormd",style="display:block;",rows="5",cols="80")}}<br>
                </div>
                <p>{{ form.submit(class="write-btn",value="发布") }}</p>
            </div>
        </div>
        <div class="clear"></div>
    </form>

</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css">
    <script src="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js"></script>
    <script>
         new SimpleMDE({
         element: document.getElementById("editormd"),
         spellChecker: false,
         autosave: {
            enabled: false
         }
      });
    </script>
{% endblock %}
