{% extends "admin_base.html" %}
{% import "_pagination.html" as page %}
{% block tab %}管理文章{% endblock %}
{% block content %}
<div class="admin-post">
    <ul>
        {% for post in posts %}
        <li>
            {{ post.timestamp }}
            <a class="article-title" href="{{url_for('admin.admin_edit', id=post.id)}}">
                {{ post.title }}
            </a>

            <button onclick="firm('{{url_for('admin.delete_post', id=post.id)}}')" class="delete-btn">
                删除
            </button>

            <a href="{{url_for('admin.admin_edit', id=post.id)}}">
                <button class="edit-btn">编辑</button>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="post-page site-box">
    <ul class="pages">
        {{ page.pages(pagination, 'admin.admin_posts') }}
    </ul>
</div>
{% endblock %}