{% extends "admin.html" %}
{% block tab %}管理页面{% endblock %}
{% block content %}
<div class="admin-post">
    <ul>
        {% for page in pages %}
        <li>
            <a class="article-title" href="{{url_for('admin.edit_page',name=page.url_name)}}">
                {{ page.title }}
            </a>
            <button onclick="firm('{{url_for('admin.delete_page',name=page.url_name)}}')" class="delete-btn">删除</button>
            <a href="{{url_for('admin.edit_page',name=page.url_name)}}">
                <button class="edit-btn">编辑</button>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}