{% extends "admin.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
{% endblock %}
{% block content %}

<div class="admin-write">
    <div class="admin-title site-box">{{ title }}<span><a href="{{url_for('admin.index')}}">返回，注意保存</a></span></div>

    <form action="{%if title== '写文章'%}{{url_for('admin.write')}}{%else%}{{url_for('admin.admin_edit',time=post.timestampInt,name=post.url_name)}}{%endif%}" method="post">
        {{form.hidden_tag()}}
        <div class="aticle-data site-box">
            <div class="data-ipt">
                <p>分类：{{form.category(placeholder="只能写一个")}}</p>
                <p>标签：{{form.tags(placeholder="用英文逗号隔开")}}</p>
                <p>链接：{{form.url_name(placeholder="url文章名")}}</p>
                <p>日期：{{form.time(placeholder="使用-连接年月日")}}</p>
            </div>
        </div>
        <div class="aticle-body site-box">
            <div class="write-body">
                <p>{{form.title(class="aticle-title",placeholder="标题")}}</p>
                <div id="editormd">
                    {{form.body(style="display:none;")}}<br>
                </div>
                {% if title == '写文章' %}
                <p>{{ form.save_draft(class="write-btn first-btn",value="保存草稿") }}</p>
                <p>{{ form.submit(class="write-btn",value="发布") }}</p>
                {% else %}
                <p>{{ form.save_draft(class="write-btn first-btn",value="保存草稿",style="display:none;") }}</p>
                <p>{{ form.submit(class="write-btn",value="更新") }}</p>
                {% endif %}
            </div>
        </div>
    </form>

</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("editormd", {
            width: "100%",
            height: "550px",
            syncScrolling : "single",
            path: "{{ url_for('static',filename='editormd/lib/') }}"
            //saveHTMLToTextarea : true
        });
    });
</script>
{% endblock %}
