{% extends "admin.html" %}
{% block content %}
{% if current_user.is_authenticated %}

<div class="admin-title site-box">管理草稿<span><a href="{{url_for('admin.index')}}">返回</a></span></div>
<div class="admin-post site-box">
    <ul>
        {% for draft in drafts %}
        <li>
            {{ draft.timestamp }}
            <a class="article-title" href="{{url_for('admin.admin_edit',time=draft.timestampInt, name=draft.url_name)}}">
                {{ draft.title }}
            </a>

            <button onclick="firm('{{url_for('admin.delete',time=draft.timestampInt,name=draft.url_name)}}')" class="delete-btn">
                删除
            </button>

            <a href="{{url_for('admin.admin_edit', time=draft.timestampInt, name=draft.url_name)}}">
                <button class="edit-btn">编辑</button>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}