{% extends "admin.html" %}
{% block content %}

<div class="admin-title site-box">管理插件<span><a href="{{url_for('admin.index')}}">返回</a></span></div>

<div class="admin-post site-box">
    <p>
        <a href="{{ url_for('admin.add_side_box') }}">
            <button>添加插件</button>
        </a>
    </p>
    <ul>
        {% for box in boxes %}
        <li>
            {% if box.title %}{{ box.title }}{% else %}无标题{% endif %}
            <a href="{{url_for('admin.delete_side_box',id=box.id)}}">
                <button class="delete-btn">删除</button>
            </a>
            <a href="{{url_for('admin.edit_side_box', id=box.id)}}">
                <button class="edit-btn">编辑</button>
            </a>
            {% if box.unable == True %}
            <a href="{{url_for('admin.unable_side_box',id=box.id)}}"><button class="allow-btn">通过</button></a>
            {% else %}
            <a href="{{url_for('admin.unable_side_box',id=box.id)}}"><button class="edit-btn">隐藏</button></a>
            {% endif %}

            <p>{{box.body}}</p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}