{% extends "admin.html" %}
{% block tab %}管理草稿{% endblock %}
{% block content %}
<div class="admin-post">
    {% if drafts %}
    <ul>
        {% for draft in drafts %}
        <li>
            {{ draft.timestamp }}
            <a class="article-title" href="{{url_for('admin.admin_edit',time=draft.timestampInt, name=draft.url_name)}}">
                {{ draft.title }}
            </a>

            <button onclick="firm('{{url_for('admin.delete_post',time=draft.timestampInt,name=draft.url_name)}}')" class="delete-btn">
                删除
            </button>

            <a href="{{url_for('admin.admin_edit', time=draft.timestampInt, name=draft.url_name)}}">
                <button class="edit-btn">编辑</button>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    你还没有草稿需要管理哦，你个瓜皮
    {% endif %}
</div>
{% endblock %}