{% extends "admin.html" %}
{% block content %}
{% if current_user.is_authenticated %}

<div class="admin-title site-box">管理页面<span><a href="{{url_for('admin.index')}}">返回</a></span></div>
<div class="admin-post site-box">
    <ul>
        {% for page in pages %}
        <li>
            <a class="article-title" href="{{url_for('admin.edit_page',name=page.url_name)}}">
                {{ page.title }}
            </a>
            <a href="{{url_for('admin.delete_page',name=page.url_name)}}">
                <button class="delete-btn">删除</button>
            </a>
            <a href="{{url_for('admin.edit_page',name=page.url_name)}}">
                <button class="edit-btn">编辑</button>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}