{% extends "admin.html" %}
{% import "_pagination.html" as page %}
{% block content %}
{% if current_user.is_authenticated %}

<div class="admin-title site-box">管理文章<span><a href="{{url_for('admin.index')}}">返回</a></span></div>

<div class="admin-post site-box">
    <ul>
        {% for post in posts %}
        <li>
            {{ post.timestamp }}
            <a class="article-title" href="{{url_for('admin.admin_edit',time=post.timestampInt, name=post.url_name)}}">
                {{ post.title }}
            </a>
            <a href="{{url_for('admin.delete',time=post.timestampInt,name=post.url_name)}}">
                <button class="delete-btn">删除</button>
            </a>
            <a href="{{url_for('admin.admin_edit', time=post.timestampInt, name=post.url_name)}}">
                <button class="edit-btn">编辑</button>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="post-page site-box">
    <ul class="pages">
        {{ page.pages(pagination, 'admin.admin_posts') }}
    </ul>
</div>
{% endblock %}