{% extends "column_base.html" %}
{% block styles %}
{{ super() }}
<style>
    .image-body img {
        max-width: 100%;
    }
    .image-main {
        padding: 20px 10px;
    }
    .image-items {
        padding: 10px;
    }
    .upload-input {
        display: none;
        width: 300px;
        padding: 20px;
        margin: 0 auto 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .upload-input input#name-ipt {
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
        outline: none;
        font-size: 14px;
    }

    .upload-input input#name-ipt:focus {
        border-bottom: 1px solid #ec920c;
    }
</style>
{% endblock %}
{% block column_content %}
<div class="column-main site-box">

    <div class="image-item">
        <div class="image-items">
            共 {{ images|length }} 张图片
            <button onclick="showIpt(this)">上传</button>
        </div>
    
        <div class="upload-input">
            <form action="{{ url_for('image.get_path_images', path=path) }}" method="post" enctype="multipart/form-data">
                <p><input id="name-ipt" type="text" placeholder="图片名，默认为文件名" name="key"></p>
                <p><input id="md-file" type="file" name="file"></p>
                <p><input id="submit" type="submit" value="上传" class="submit-btn"></p>
            </form>
        </div>

        <div class="image-body">
            <div class="image-main">
                {% for image in images %}
                <img src="{{ url_for('static', filename='upload/image/'+image.path+'/'+image.filename) }}" alt="">
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/image_util.js') }}"></script>
{% endblock %}
