{% extends "column_base.html" %}

{% block column_content %}

<div class="article-main site-box">

    <div class="column-item">

        <div class="flash-msg">

        </div>

        <div class="article-body">
            <p>要输入密码才能看哦QAQ~</p>
            <p></p>
            <form action="{{ url_for('column.enter_password',url=url,id=id) }}" method="post">
                {{form.hidden_tag()}}
                <p>
                    {{form.password(placeholder="password")}}
                </p>
                <p><input type="submit" value="确定"></p>
            </form>
        </div>

    </div>

</div>

{% endblock %}

