{% extends "column_base.html" %}
{% block styles %}
{{ super() }}
<style>
    input {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        box-sizing: border-box;
        font-size: 14px;
    }

    input[type=submit] {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block column_content %}

<div class="article-main site-box">

    <div class="column-item">

        <div class="flash-msg">

        </div>

        <div class="article-body">
            <p>要输入密码才能看哦QAQ~</p>
            <p></p>
            <form action="{{ url_for('column.enter_password',url=url,id=id) }}" method="post">
                {{form.hidden_tag()}}
                <p>
                    {{form.password(placeholder="password")}}
                </p>
                <p><input type="submit" value="确定"></p>
            </form>
        </div>

    </div>

</div>

{% endblock %}

