{% extends "column_base.html" %}

{% block column_content %}
<div class="column-main site-box">

    <div class="column-item">
        <div class="column-title">
            <h1>{{ column.title }}</h1>
        </div>

        <div class="column-meta">
            <span class="post-time"><i class="demo-icon icon-calendar"></i> {{ column.create_time }} </span>
             <!-- | <span class="love-count"><i class="demo-icon icon-heart-empty"></i> {{ column.love_num }}</span> -->
             | <span class="post-view-count" postid="{{ column.id }}"><i class="demo-icon icon-eye"></i> </span>
        </div>

        <div class="column-body">
            <div class="column-desc">
                {{ column.body | safe }}
                <div class="column-btn">
                    <a class="read-column"
                       href="{% if first_id %}{{ url_for('column.article',url_name=column.url_name,id=first_id) }}{% else %}#{% endif %}">
                        阅读主题
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="column-articles">
        <div class="column-menu">主题目录</div>
        {% if articles %}
        {% for num, item in articles %}
        <div class="article-item">
            <span class="article-num">{{ num }}</span>
            <a href="{{ url_for('column.article',url_name=column.url_name,id=item.id) }}">{{ item.title }}</a>
            {% if item.secrecy == True %}
            <span style="float: right;color: #df846c;">保密</span>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p>专题还没有文章</p>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
    function getViewCount(id) {
        var request;
        if (window.XMLHttpRequest) {
            request = new XMLHttpRequest();
        } else {
            request = new ActiveXObject('Microsoft.XMLHTTP');
        }
        request.onreadystatechange = function () { // 状态发生变化时，函数被回调
            if (request.readyState === 4) {
                if (request.status === 200) {
                    respText = JSON.parse(request.responseText);
                    viewSpans.innerHTML += respText.count;
                } else {
                    console.log('Ajax fail');
                }
            }
        };
        request.open('GET', '/api/view/column/'+id);
        request.send();
    }
    
    var viewSpans = document.getElementsByClassName('post-view-count')[0];
    var postId = viewSpans.attributes["postid"].value;
    getViewCount(postId)
    </script>
{% endblock %}
