<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{title}}{%else%}Admin{%endif%} | Admin</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog.css') }}">
    <link  type="text/css" href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="site-wrap">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <div class="flash-msg">
                    {{ message }}
                    <span class="flash-x">x</span>
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block script %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script>
        function firm(url) {
            var request;
            if (window.XMLHttpRequest) {
                request = new XMLHttpRequest();
            } else {
                request = new ActiveXObject('Microsoft.XMLHTTP');
            }
            //利用对话框返回的值 （true 或者 false）
            if (confirm("你确定删除吗？")) {
                // 发送请求:
                request.open('GET', url);
                request.send();
                location.reload();
            }
            else { }

        }
    </script>
    {% endblock %}
</body>
</html>