{% extends "admin.html" %}
{% block content %}
{% if current_user.is_authenticated %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="flash-msg">
    {{ message }}
    <span class="flash-x">x</span>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="admin-links">
    <h2>添加网站链接</h2>
    <div class="links-ipt">
        <form action="{{url_for('admin.add_link')}}" method="post">
            <p>标题：{{form.name()}}</p>
            <p>链接：{{form.link()}}</p>
            <p>是否友链：{{form.isFriendLink}}</p>
            <p><input class="but" type="submit" value="添加"></p>
        </form>
    </div>

</div>
{% endif %}
{% endblock %}