<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% else %}意外{% endif %} - 意外</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog.css') }}">
    <link media="(max-width: 960px)" href="{{ url_for('static', filename='css/mobile.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}">
    <style>
        .side-nav {display: none;}
    </style>
    {% endblock %}

</head>
<body>
    <div class="container">

        <div id="header" class="site-header headroom">
            <!-- PC -->
            <div class="site-wrap">

                <div class="site-logo">
                    <a href="/" class="logo">
                        {% if global_datas().admin %}{{ global_datas().admin.site_name }}
                        {% else %}意外{% endif %}
                    </a>
                    <span>{% if global_datas().admin %}{{ global_datas().admin.site_title }}{% else %}我的博客{% endif %}</span>
                </div>
                <div class="site-nav">
                    <ul id="menu" class="menu">
                        <li class="menu-item search-nav"><span class="search-btn">搜索</span>
                            <div class="search" style="display: none;">
                                <form action="{{url_for('main.search')}}" method="post">
                                    <i class="demo-icon icon-search"></i>
                                    {{g.search_form.hidden_tag()}}
                                    {{g.search_form.search(class="search-ipt",placeholder="Search...")}}
                                </form>
                            </div>
                        </li>
                        {% for page in global_datas().pages %}
                        <li class="menu-item">
                            <a href="{{ url_for('main.page', page_url=page.url_name) }}">{{ page.page }}</a>
                        </li>
                        {% endfor %}
                        <li class="menu-item"><a href="{{url_for('main.shuoshuo')}}">说说</a></li>
                        <li class="menu-item category-nav"><a href="#">分类</a>
                            <ul id="drop">
                                {% for category in global_datas().categories %}
                                <li>
                                    <a href="{{ url_for('main.category', category_name=category.category) }}" class="drop-item">
                                        {{ category.category }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu-item"><a href="{{url_for('main.index')}}">首页</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>

            </div>
            <!-- width < 960px -->
            <div class="mobile-menu-btn">
                <button>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                </button>
            </div>
            <div class="mobile-site-logo">
                <a href="/">
                    {% if global_datas().admin %}{{ global_datas().admin.site_name }}
                    {% else %}意外{% endif %}
                </a>
                <span>{% if global_datas().admin %}{{ global_datas().admin.site_title }}{% else %}我的博客{% endif %}</span>
            </div>
            <div class="mobile-site-nav" style="display: none;">
                <ul>
                    <li><a class="mobile-nav-item" href="{{url_for('main.index')}}"><i class="demo-icon icon-home"></i> 首页</a></li>
                    <li>
                        <a class="mobile-nav-item mobile-category" href="#"><i class="demo-icon icon-book"></i> 分类</a>
                        <ul class="mobile-drop-category" style="display: none;">
                            {% for category in global_datas().categories %}
                                <li>
                                    <a href="{{ url_for('main.category', category_name=category.category) }}" class="mobile-drop-item">
                                        {{ category.category }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a class="mobile-nav-item" href="{{url_for('main.archives')}}"><i class="demo-icon icon-box"></i> 归档</a></li>
                    <li><a class="mobile-nav-item" href="{{url_for('main.shuoshuo')}}"><i class="demo-icon icon-comment-empty"></i> 说说</a></li>
                    {% for page in global_datas().pages %}
                    <li>
                        <a href="{{ url_for('main.page', page_url=page.url_name) }}" class="mobile-nav-item mobile-add-page"> {{ page.page }}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <div class="mobile-search">
                            <i class="demo-icon icon-search"></i>
                            <form action="{{url_for('main.search')}}" method="post">
                                {{g.search_form2.hidden_tag()}}
                                {{g.search_form2.search(placeholder="Search...")}}
                            </form>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div class="site-wrap">
            <div class="sidebar">
                <div class="side-content">
                    <div class="side-nav">
                        <span>文章目录</span>
                        <span class="current">站点概览</span>
                    </div>
                    <div class="profile site-box">
                        <div class="master-image">
                            <img class="profile-avatar" src="{{url_for('static', filename='images/baifeng.jpg')}}" alt="author">
                            <div class="master-info">
                                <p class="profile-master">{% if global_datas().admin %}{{ global_datas().admin.name }}{% else %}意外{% endif %}</p>
                                <p class="master-description">
                                    {% if global_datas().admin %}{{ global_datas().admin.profile }}{% else %}没有信息{% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="new-shuo">
                            <p>人不管长多大，都是在寻找容身之所的旅途上啊！！！</p>
                        </div>

                        <div class="blog-info">
                            <ul>
                                <li><a href="{{url_for('main.archives')}}">
                                    <strong>{% if global_datas().postCounts %}{{ global_datas().postCounts }}{% else %}0{% endif %}</strong>
                                    <span>文章</span>
                                </a></li>
                                <li><a href="#">
                                    <strong>2</strong>
                                    <span>朋友</span>
                                </a></li>
                                <li class="last-li"><a href="#">
                                    <strong>22</strong>
                                    <span>留言</span>
                                </a></li>
                            </ul>
                        </div>

                        <div class="social-links">
                            <ul>
                                {% for link in global_datas().social_links %}
                                <li>
                                    <a class="add-link" href="{{ link.link }}" target="_blank">{{ link.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="clear"></div>
                        </div>

                        <div id="rss">
                            <a href="#"><i class="icon-rss"></i> RSS</a>
                        </div>

                        <div class="love-me">
                            <div class="love-title">你喜欢我吗</div>
                            <div class="love-me-con">
                                <span class="love-me-icon">
                                    <i class="icon-heart-empty"></i>
                                    <span class="love-me-count">{{global_datas().loves}}</span>
                                </span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="post-toc site-box">
                        <div class="toc-list">
                            <ol id="toc"></ol>
                        </div>
                    </div>

                    <div class="blog-tags site-box">
                        <div class="side-title"><i class="demo-icon icon-tags"></i> 标签</div>
                        <ul>
                            {% for tag in global_datas().tags %}
                            <li><a href="{{ url_for('main.tag', tag_name = tag.tag) }}">{{ tag.tag }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>

                {% block plugin %}
                {% endblock %}

            </div>

            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
            <div class="clear"></div>
        </div>

        <div class="footer">
            <div class="copyright">
                © 2017  <i class="demo-icon icon-heart"></i>
                <span> {% if global_datas().admin %}{{ global_datas().admin.name }}{% else %}意外{% endif %}</span>
            </div>
            <span class="powered-by"><a href="http://www.miitbeian.gov.cn/" target="_blank">{% if global_datas().admin.record_info %}{{ global_datas().admin.record_info }}{% else %}无备案信息{% endif %}</a></span>
            <span class="powered-by">Flask </span>
            <span><a href="https://github.com/Blackyukun/YuBlog" target="_blank">源码</a></span>
            <!--<span class="cnzz-span"><script src="https://s22.cnzz.com/z_stat.php?id=1263956682&web_id=1263956682" language="JavaScript"></script></span>-->
        </div>

        <div><span id="go-to-top"></span></div>

    </div>
    {% block script %}
    <script src="{{url_for('static', filename='js/myStorage.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sticky.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/headroom.min.js') }}"></script>
    <script>
        var sticky = new Sticky(".side-content", {
            // 表示距离顶部 20px 的时候就固定
            offset: 20
        });

        // headroom
        var header = new Headroom(document.getElementById("header"), {
            tolerance: 0,
            offset : 70
        });
        header.init();
    </script>
    <script>
        var addPage = document.getElementsByClassName('mobile-add-page');
        for (var p=0; p<addPage.length; p++) {
            var text = addPage[p].innerText;
            if (text === ' 关于') {
                addPage[p].innerHTML = '<i class="demo-icon icon-user"></i>' + text;
            } else if (text === ' 留言') {
                addPage[p].innerHTML = '<i class="demo-icon icon-comment-empty"></i>' + text;
            } else {
                addPage[p].innerHTML = '<i class="demo-icon icon-globe"></i>' + text;
            }
        }

        var addLink = document.getElementsByClassName('add-link');
        for (var l=0; l<addLink.length; l++) {
            var link = addLink[l].innerText;
            if (link === 'Github' || link ==='github') {
                addLink[l].innerHTML = '<i class="demo-icon icon-github-circled"></i>' + ' ' + link;
            } else if (link === '微博') {
                addLink[l].innerHTML = '<i class="demo-icon icon-weibo"></i>' + ' ' + link;
            } else {
                addLink[l].innerHTML = '<i class="demo-icon icon-globe"></i>' + ' ' + link;
            }
        }
    </script>
    {% endblock %}
</body>
</html>