<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if title %}{{ title }}{% else %}专栏{% endif %} - 意外</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blank" />
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/column.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/default.css') }}"/>
    {% endblock %}
</head>
<body>
    <div class="container">

        <div id="header" class="site-header headroom">
            <!-- PC -->
            <div class="site-wrap">

                <div class="site-logo">
                    <a href="/" class="logo">
                        {% if global_datas().admin %}{{ global_datas().admin.site_name }}
                        {% else %}意外{% endif %}
                    </a>
                    <span>{% if global_datas().admin %}{{ global_datas().admin.site_title }}{% else %}我的博客{% endif %}</span>
                </div>
                {% block nav_btn %}
                {% endblock %}

            </div>
        </div>

        <div class="site-wrap">

            {% block column_content %}
            {% endblock %}

        </div>

        <div class="footer-box">
            <div class="footer">
                <div class="copyright">
                    © 2017  <i class="demo-icon icon-heart"></i>
                    <span> {% if global_datas().admin %}{{ global_datas().admin.name }}{% else %}意外{% endif %}</span>
                </div>
                <span class="powered-by"><a href="http://www.miitbeian.gov.cn/" target="_blank">{% if global_datas().admin.record_info %}{{ global_datas().admin.record_info }}{% else %}无备案信息{% endif %}</a></span>
                <span class="powered-by">Flask </span>
                <span><a href="https://github.com/Blackyukun/YuBlog" target="_blank">源码</a></span>
                <!--<span class="cnzz-span"><script src="https://s22.cnzz.com/z_stat.php?id=1263956682&web_id=1263956682" language="JavaScript"></script></span>-->
            </div>
        </div>

        <div><span id="go-to-top"></span></div>
    </div>
{% block script %}
<script src="{{url_for('static', filename='js/myStorage.js')}}"></script>
<script src="{{ url_for('static', filename='lib/headroom.min.js') }}"></script>
<script>
    // headroom
    var header = new Headroom(document.getElementById("header"), {
        tolerance: 0,
        offset : 70
    });
    header.init();
</script>
{% endblock %}
</body>
</html>