{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.preview.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.min.css') }}"/>
<style>
    .editormd-html-preview, .editormd-preview-container {padding: 0;}
    .editormd-html-preview, .editormd-preview-container {padding: 0;}
    .post-body {padding: 0;}
    .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {position: static;}

</style>
{% endblock %}
{% block content %}
<div class="post-item site-box">
    <h1 class="post-title">{{page.page}}</h1>

    <div id="content" class="content post-body">
        {{ page.body_to_html | safe }}
    </div>
</div>
<div class="post-comments site-box">
    <div id="SOHUCS" sid="{{page.url_name}}" ></div>
</div>
{% endblock %}

{% block script %}
{{ super() }}

<!--<script src="{{url_for('static', filename='lib/highlight.min.js')}}"></script>-->
<script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='editormd/lib/marked.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/prettify.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/raphael.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    editormd.markdownToHTML("content");

    // donate button
    var donateBtn = document.getElementsByClassName('donate-btn')[0];
    var donateImg = document.getElementsByClassName('donate-img')[0];

    donateBtn.onclick = function() {
        if (donateImg.style.display === 'none') {
            donateImg.style.display = 'block';
        } else {
            donateImg.style.display = 'none';
        }
    };

</script>
{% if page.canComment == true %}
{% if global_datas().admin.changyan_id and global_datas().admin.changyan_key %}
<!--PC和WAP自适应版-->

<script type="text/javascript">
(function(){
var appid = "{{global_datas().admin.changyan_id}}";
var conf = "{{global_datas().admin.changyan_key}}";
var width = window.innerWidth || document.documentElement.clientWidth;
if (width < 960) {
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
</script>
{% endif %}
{% endif %}
{% endblock %}