{% extends "base.html" %}
{% block content %}
    <div class="post-item site-box">
        <h1 class="post-title">
            <a href="{{ url_for('main.post',time=post.timestampInt,article_name=post.url_name) }}">
                {{ post.title }}
            </a>
        </h1>
        <div class="post-meta">
            <span class="post-time"><i class="demo-icon icon-calendar"></i> 发表于{{ post.timestamp }}</span>
            <span class="post-category">
                <i class="demo-icon icon-folder-empty"></i> 分类：
                <a href="{{ url_for('main.category', category_name=post.category.category) }}">{{ post.category.category }}</a>
            </span>
            <span class="post-comments-count">
                <i class="demo-icon icon-comment-empty"></i> 评论：22
            </span>
            <span class="post-view-count"><i class="demo-icon icon-eye"></i> 阅读：{{ post.view_num }}</span>
        </div>
        <div class="post-body">
            {% if post.body_html %}
            {{ post.body_html | safe }}
            {% else %}
                {{post.body}}
            {% endif %}

        </div>
        <div class="post-tags">
            {% for tag in tags %}
            <a href="{{ url_for('main.tag', tag_name=tag) }}"><i class="demo-icon icon-tags"></i> {{ tag }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="donate site-box">
        <p class="donate-title">真诚赞赏，手留余香</p>
        <p><button class="donate-btn">赞赏</button></p>
        <div class="donate-img" style="display: none;">
            <div class="donate-alip">
                <a data-fancybox="image" href="{{url_for('static', filename='baifeng.jpg')}}">
                    <img class="donate-first-img" src="{{url_for('static', filename='baifeng.jpg')}}" alt="">
                </a>

                <p>支付宝</p>
            </div>
            <div class="donate-wchat">
                <a data-fancybox="image" href="{{url_for('static', filename='baifeng.jpg')}}">
                    <img class="donate-second-img" src="{{url_for('static', filename='baifeng.jpg')}}" alt="">
                </a>

                <p>微信</p>
            </div>
        </div>
    </div>

    <div class="post-copyright site-box">
        <blockquote>
            <p><strong>本文作者：</strong>俞坤</p>
            <p><strong>本文链接：</strong><a href="#">http://www.yukunweb.com/0/0/aaaa</a></p>
            <p><strong>版权声明：</strong>本博客所有文章除特别声明外，均采用<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>许可协议。转载请注明出处！</p>
        </blockquote>
    </div>

    <div class="pre-next-post site-box">
        <a class="pre-post" href="#">< 啊啊啊啊啊</a>
        <a class="next-post" href="#">啊啊啊啊啊 ></a>
        <div class="clear"></div>
    </div>

    <div class="post-comments site-box">

    </div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{url_for('static', filename='lib/highlight.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/jquery.fancybox.min.js')}}"></script>
<script>
    // highlight
    hljs.initHighlightingOnLoad();

    // image
    $('[data-fancybox]').fancybox({
        toolbar : false
    });

</script>
{% endblock %}
